@import 'tailwindcss';
@theme {
  --color-primary-60: #FFECF5;
  --color-primary-400: #ED1164;
  --color-primary-500: #E60F5F;
  --color-primary-600: #CC004D;
  --color-primary-800: #99003B;
  --color-blue-10: #E6F0FF;
  --color-blue-50: #F0F7FF;
  --color-blue-100: #2186EB;
  --color-pink-10: #FFF0F5;
  --color-pink-50: #FFF5F7;
  --color-gray-50: #F9FAFB;
  --color-gray-100: #F3F4F6;
  --color-black-100: #333333;
  --color-black-200: #000000;
  --color-black-700: #111111;
  --color-gray-400: #9CA3AF;
  --color-gray-600: #4B5563;
  --color-gray-700: #374151;
}

@layer base {
    html {
        font-family:
            'Roboto',
            system-ui,
            -apple-system,
            BlinkMacSystemFont,
            'Segoe UI',
            Arial,
            sans-serif;
    }
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #ec1165;
    border-radius: 6px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.max-w-1200px {
    max-width: 1250px;
}

body {
  margin: 0;
  background-color: #ffe7f0 ;
}

.icon-userHeader {
    background-position: -625px -245px;
    width: 21px;
    height: 26px;
}
.icon-cartHeader {
    background-position: -555px -5px;
    width: 32px;
    height: 32px;
}
.icon-infoHeader {
    background-position: -370px -210px;
    width: 24px;
    height: 24px;
}
.iconlogo-headerDt {
    background-position: 0 -505px;
    height: 42px;
    width: 195px;
}
.icon-mapHeader {
    background-position: -3px -312px;
    width: 21px;
    height: 21px;
}
.iconlogo-bocongthuong {
    background-position: -159px -105px;
    height: 32px;
    width: 83px;
}
.iconlogo-dmca {
    background-position: -250px -131px;
    height: 17px;
    width: 90px;
}
.iconlogo-topzoneDT {
    background-position: -145px -225px;
    height: 41px;
    width: 134px;
}
.iconlogo-bhxDT {
    background-position: 0 -275px;
    height: 41px;
    width: 134px;
}

.iconlogo-tgddDT {
    background-position: -145px -275px;
    height: 41px;
    width: 134px;
}
.iconlogo-dmxDT {
    background-position: 0 -325px;
    height: 41px;
    width: 134px;
}
.iconlogo-ankhangDT {
    background-position: -145px -460px;
    height: 41px;
    width: 134px;
}
.iconlogo-vieclamDT {
    background-position: 0 -460px;
    height: 41px;
    width: 134px;
}
.iconlogo-erablueDT {
    background-position: 0 -225px;
    height: 41px;
    width: 134px;
}

.iconlogo-thodmxDT {
    background-position: -285px -175px;
    height: 41px;
    width: 134px;
}
[class*='icon-'],
[class*='iconlogo-'],
[class^='icon-'],
[class^='iconlogo-'] {
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
}
[class*='iconlogo-'],
[class^='iconlogo-'] {
    background-image: url('/icon_commonLOGO-minv2.png');
    background-size: 600px 600px;
}
[class*='icon-'],
[class^='icon-'] {
    background-image: url('/0228535c36ad838ec06d6170e5c37cd6.png');
    background-size: 800px 800px;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.2s ease-out;
}

.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Tippy z-index override */
[data-tippy-root] {
    z-index: 99999 !important;
}
